In [10]:
import numpy as np
import pandas as pd

In [11]:
nrow = 10
ncol = 3
df = pd.DataFrame(np.random.randn(nrow, ncol), columns=['a', 'b', 'c'])

In [12]:
df

          a         b         c
0  0.139893 -1.389790 -2.304661
1  0.524534 -0.015394  0.847630
2  0.951011  0.256067  1.451138
3 -1.749100  0.273230  1.701057
4 -1.017045  0.117855  1.102518
5 -1.499335  0.564638 -1.908530
6  1.750534  1.083549  1.517281
7 -0.423074  2.546144 -0.524095
8 -1.128273  1.885199 -0.540993
9 -1.186108  1.270360  0.796720

In [13]:
# sort by "a"
df.sort_values(by='a')

          a         b         c
3 -1.749100  0.273230  1.701057
5 -1.499335  0.564638 -1.908530
9 -1.186108  1.270360  0.796720
8 -1.128273  1.885199 -0.540993
4 -1.017045  0.117855  1.102518
7 -0.423074  2.546144 -0.524095
0  0.139893 -1.389790 -2.304661
1  0.524534 -0.015394  0.847630
2  0.951011  0.256067  1.451138
6  1.750534  1.083549  1.517281

In [14]:
# find the max of "a" and the second max of "a"
max_a = df['a'].max()
max_a_2 = df[df['a'] != max_a]['a'].max()

In [15]:
max_a, max_a_2

(1.7505335832565867, 0.9510111539546141)

In [16]:
df[df["a"] > 0]["a"].max()

1.7505335832565867

In [29]:
df1 = df[0 < df["a"]]
df2 = df1[df1["a"] >10].empty
df2

True